beautifulsoup4==4.11.2
chromedriver_autoinstaller==0.4.0
Flask==2.2.2
gTTS==2.2.4
numpy==1.23.3
openai==0.26.4
playsound==1.2.2
PyAudio==0.2.12
regex==2022.9.13
requests==2.25.1
selenium==4.8.2
sentence_transformers==2.2.2
spotipy==2.22.1
torch==1.12.1
transformers==4.21.3
websocket_server==0.6.4
websockets==10.4
whisper==1.0
